/build/
/release-notes.md
/README.md
/src/test/resources/conf/env/
/src/test/resources/token.data
/web-api/web-api.iml
/web-api/allure-results
.allure/
*.ipr
.idea/*
*.iml
*.iws
.DS_Store
# Maven
log/
target/
opt/
node_modules


# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/


# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar